body{
    background-color: rgb(224, 219, 219);
}
div.block1{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
    padding-right: auto;
    padding-left: auto;
}

img.tim1{
    border-radius: 100%;
    border: solid 5px rgb(224, 219, 219);
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

h1{
    text-align: center;
    color: rgb(226, 51, 74);
}

h2:first-of-type{
    text-align: center;
    color: rgb(105, 103, 103);
}
div.block1 > p:first-of-type{
    text-align: center;
    color: rgb(105, 103, 103);
    padding-left: 15%;
    padding-right: 15%;
    font-family: metal;

}

div.block1 > a{
    text-align: center;
    background-color:rgb(226, 51, 74) ;
    display: flex;
    border: solid 1px ;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    text-decoration:none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

div.block2{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 30px;
}

ul{
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}

li{
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}

li > a {
    text-decoration: none;
    color: rgb(105, 103, 103);
}

a > i{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

div.block3{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 30px;
}

div.block3 > img{
    display: flex;
    margin-left: 0%;
    width: 120px;
    height: 120px;
}

div.block3 > h2:first-child{
    margin-bottom: 30px;
}

div.block3 > h2:not(:first-child){
    position: relative;
    top: -150px;
    left: 200px;
    color: rgb(105, 103, 103);
}

div.block3 > p{
    position: relative;
    max-width: 50%;
    max-height: 50%;
    top: -150px;
    left: 200px;
    color: rgb(105, 103, 103);
}

@font-face {
    font-family: "metal";
    src: url("assets/MetalMania-Regular.ttf") format("truetype");
  }